{%extends 'products/base.html'%}
{% load static %}

{%block css%}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">ElectroHub</h1>
                    <p>
                        Ласкаво просимо в наш інтернет-магазин техніки! 
                        Ми пропонуємо широкий асортимент високоякісної електроніки для дому та офісу. 
                        У нас ви знайдете все, що потрібно: від новітніх смартфонів і ноутбуків до побутової техніки та аксесуарів.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{%url 'products:index'%}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{%endblock%}


